[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
black = "*"
isort = "*"
uvicorn = "*"
pydantic = "*"
qrcode = {extras = ["pil"], version = "*"}
pymongo = "*"
azure-functions = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
