[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
black = "*"
isort = "*"
uvicorn = "*"
pydantic = "*"
qrcode = {extras = ["pil"], version = "*"}
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.8"
